*{
    box-sizing: border-box;
    /* margin: 0; */
}


html{
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position:top right, bottom left;
    height: 100vh;
    background-color: hsl(234, 14%, 74%);
}

.content{
    display: grid;
    grid-template-rows: .2fr 1fr .2fr;
}

header{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* width: max-content */
}

.heading-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
}

checkbox{
    margin-left:20px;
    margin-right: 20px;
}

.Ann-Mon{
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

.heading h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 700;
    width: 250px;
    text-align: center;
}

.card-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: minmax(400px, 600px);
    /* grid-template-rows: 500px; */
    column-gap: 10px;
    row-gap: 10px;
    width: 70%;
    justify-self: center;
    align-items: center;
    height:500px;
    max-height: 100%;

}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: max-content; */
    /* padding: 20px 20px; */
    height: 100%
}

.content-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    font-family: 'Montserrat', sans-serif;
    max-width: max-content;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.content-container >*{
    justify-self: center;
}

/* .test{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    font-family: 'Montserrat', sans-serif;
    max-width: max-content;
    justify-self: center;
    align-self: center;
} */

.test >*{
    /* align-self: center; */
    justify-self: center;
}

.annual-amount{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.monthly-amount{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;

}

#card-one{
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

#card-two{
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

#card-three{
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.active{
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    height: 550px;
}

.active >*{
    color: white;
}

.title{
    align-self: center;
}

.description {
    /* align-self: center; */
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
}

.description:nth-child(6){
    border-bottom: 1px solid lightgrey;
}


.learn-more{
    width: 250px;
    height: 2.5em;
    font-family: 'Montserrat', sans-serif;
    grid-row-start: 6;
    grid-row-end: 7;
    align-self: center;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    border-radius: 10px;

}

.learn-more-clicked{
    width: 250px;
    height: 2.5em;
    font-family: 'Montserrat', sans-serif;
    grid-row-start: 6;
    grid-row-end: 7;
    align-self: center;
    background-color: white;
    color: hsl(237, 63%, 64%);
    border: none;
    border-radius: 10px;
}

.learn-more-clicked:hover{
    cursor: pointer;
}

.learn-more:hover{
    cursor: pointer;
    color: white;
}

hr {
    width: 100%;
    /* color: black; */
    border: 1px solid black;
}






/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #ccc; */
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: .4s;
  transition: .4s;

  /* margin-left: 10px;
  margin-right: 10px; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-device-width: 745px){
    .active{
        height: 420px
    }

    .content{
        margin-bottom: 20px;
    }
}


@media (max-device-width: 1115px){
    .card-container{
        grid-template-rows: minmax(400px, 1fr);
        height: auto;
    }
}